
:root{
    /* WSU primary colors*/
    --primary-crimson: #A60F2D;
    --primary-gray: #4D4D4D;

    /* WSU secondary colors*/
    --secondary-red: #CA1237;
    --secondary-black: #000000;
    --secondary-white: #FFFFFF;

    /* WSU accent colors*/
    --accent-autumn: #FF6727;
    --accent-goldfinch: #F3E700;
    --accent-vineyard: #AADC24;
    --accent-pacific-sky: #5BC3F5;
    --accent-midnight: #002D61;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1;
}

html{
    margin: 0;
}


p{
    font-size: 1rem;
    color: var(--secondary-black);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/* Heading styles */
h1 {
    font-size: 4rem;
    text-align: center;
    margin: 0.25rem 0 0.5rem;
    /*color: var(--secondary-white);*/
    font-weight: 900;
    letter-spacing: 0.5px;
    /*-webkit-text-stroke: 0.8px rgba(0, 0, 0, 0.4);*/
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
}

h2 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-crimson);
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
}

h3 {
    font-size: 1.5rem;
    color: var(--primary-gray);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 0.5rem 0;
    font-weight: 600;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, Arial;
}

h4 {
    font-size: 2.5rem
}



@media (max-width: 860px) {
    h1 {
        font-size: clamp(1.4rem, 7.5vw, 2.6rem);
    }
    h2 {
        font-size: 1.75rem;
    }
}
